.face0{
  -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}


.face1{
transform: rotateY(0deg);
}

.face02{
transform: rotateY(-90deg);
}

.face03{
transform: rotateY(-180deg);
}

.face04{
transform: rotateY(-270deg);
}
