.dice-roll{
  animation-name: diceroll;
  animation-timing-function:cubic-bezier(0.68, -0.6, 0.32, 1.6) !important;
  animation-duration: 3s !important;
  animation-iteration-count: 1 !important;
}

@keyframes diceroll {

  0%{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(720deg) rotateY(540deg) rotateZ(1080deg);
  }
}


.spinner{
  animation-name: spin;
  animation-timing-function:ease-in-out !important;
  animation-duration: 35s !important;
  animation-iteration-count: forwards !important;
}

@keyframes spin {

 0% {
   transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
 }

 16% {
    transform: rotateX(45deg) rotateY(0deg) rotateZ(90deg);
 }

 33% {
 transform: rotateX(180deg) rotateY(20deg) rotateZ(120deg);
 }

 50% {

    transform: rotateX(270deg) rotateY(100deg) rotateZ(200deg);
 }

 66% {

   transform: rotateX(280deg) rotateY(375deg) rotateZ(279deg);
 }

 83% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
 }
}
