@import 'fonts.scss';
@import 'roll.scss';

$box-width: 35rem;
$half-box-width: $box-width/2;

html{
  font-size: 16px;
}

body {
  font-family: 'AvenirNext LT Pro','Avenir Next', sans-serif;
  background-color: #F6F4F1;
  color: #001489;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  opacity: 0;
  transition: all 100ms;
}

.button:hover {
font-size:6rem }

.showButton {
  opacity: 1;
}

.next {
  position: absolute;
  right: 2rem;
}

.prev {
  position: absolute;
  left: 2rem;
}

.intro-card {
  position: relative;
  background-color: white;
}

.dot {
  width: 5rem;
  height: 5rem;
  background: #FFC600;
  border-radius: 50%;
  display: block;
  margin: 2rem 0 2rem 2rem;
}

.party {
  font-size: 5rem;
  margin-left: 1.5rem;
}

h1 {
  font-weight: 200;
  font-variation-settings: 'wght' 200;
  margin: 0;
  padding-left: 2rem;
  font-size: 4rem;
  line-height: 3.5rem;
}

h2 {
  font-weight: 200;
  font-variation-settings: 'wght' 200;
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.5rem;
  position: absolute;
  width: 100%;
  top: -5rem;
}

h2 a{
  color: #001489;
  text-decoration: none;
}

h3{
  font-weight: 200;
  font-variation-settings: 'wght' 200;
  margin: 0 0 1.4rem 0;
  padding-left: 2rem;
  font-size: 3rem;
  line-height: 3.5rem;
}

p {
  font-size: 1.4rem;
  margin: 1.8rem 0 0.4rem 2rem;
}

.details{
  margin: 0.5rem 0 0.1rem 2rem;

}

.dice {
  font-size: 2.5rem;
  cursor: pointer;
  display: inline-block;
}

.dice:hover {
  animation: shake 0.75s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.brf{
  margin-top: 2rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage {
  width: $box-width;
  height: $box-width;
}

.cubespinner {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  transform-style: preserve-3d;
  transform-origin: $half-box-width $half-box-width 0;
  transition: all 1s;
}

.cubespinner div {
  position: absolute;
  width: $box-width;
  height: $box-width;
  backface-visibility: hidden;
  background: white;
}

.face1 {
  transform: translateZ($half-box-width);
}

.face2 {
  transform: rotateY(90deg) translateZ($half-box-width);
}

.face3 {
  transform: rotateY(180deg) translateZ($half-box-width);
}

.face4 {
  transform: rotateY(270deg) translateZ($half-box-width);
}

.face5 {
  transform: rotateX(90deg) translateZ($half-box-width);
  z-index: 10;
}

.face6 {
  transform: rotateX(-90deg) translateZ($half-box-width);
  background-color: #001489 !important;
  color: #F6F4F1;

  a {
    color: #FFC600;
  }
}

.showface {
  position: relative;
  z-index: 1000;
}
@media only screen and (max-width: 1160px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 950px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .button{
    top:95%;
  }
}
