@import 'fonts.scss';
// @import 'faces.scss';

$box-width: 35rem;
$half-box-width: $box-width/2;


body{
  font-family: 'AvenirNext LT Pro','Avenir Next', sans-serif;
  background-color: #F6F4F1;
  color: #001489;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


.button{
  cursor: pointer;
  position: absolute;
 top: 50%;
 transform: translateY(-50%);
 // height: 200px;
}

.next{
  position: absolute;
  right:4rem;
}

.prev{
  position: absolute;
  left:4rem;
}



.intro-card{
  position: relative;
  background-color: white;
}

.dot{
  width: 5rem;
  height: 5rem;
  background: #FFC600;
  border-radius: 50%;
  display: block;
  margin: 2rem 0 2rem 2rem;
}
.party{
  font-size: 5rem;
  margin-left: 1.5rem;
}

h1{
  font-weight: 200;
  font-variation-settings: 'wght' 200;
  margin: 0;
  padding-left: 2rem;
  font-size: 4rem;
  line-height: 3.5rem;
}

p{
  margin: 2rem 0 0.4rem 2rem;
}

@-webkit-keyframes spincube {
  from,
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  25% {
    -webkit-transform: rotateY(-90deg);
  }

  50% {
    -webkit-transform: rotateY(-180deg);
  }

  75% {
    -webkit-transform: rotateY(-270deg);
  }

  100% {
    -webkit-transform: rotateX(-90deg);
  }

}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage{
  width: $box-width;
  height: $box-width;
}

.cubespinner {
  // animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  transform-style: preserve-3d;
  transform: rotateX(-90deg);
  transform-origin: $half-box-width $half-box-width 0;
  transition: all 1s;
}

.cubespinner div {
  position: absolute;
  width: $box-width;
  height: $box-width;
  backface-visibility: hidden;
  background: white;
}

.face1 {
  transform: translateZ($half-box-width);
}

.face2 {
  transform: rotateY(90deg) translateZ($half-box-width);
}

.face3 {
  transform: rotateY(180deg) translateZ($half-box-width);
}

.face4 {
  transform: rotateY(270deg) translateZ($half-box-width);
}

.face5 {
  transform: rotateX(90deg) translateZ($half-box-width);
  z-index: 10;
}

.face6 {
  transform: rotateX(-90deg) translateZ($half-box-width);
}
